@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

/*  VERSION MOBILE  */
@media screen and (min-width: 600px) {

    .container #burguer {
    }
    nav {
        display: none;
    }
    nav ul li i {
        display: none;
    }
    main {
        width: 100vw;
    }
}





/*  VERSION TABLET  */
@media screen and (min-width: 601px) and (max-width: 768px){
    
    header .container{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    i#burguer {
        display: block;
    }
    nav {
        display: block;
    }
    nav ul li a{
        display: inline-block;
    }
    main {
        background-color: rgb(60, 255, 0);
        width: 100vw;
    }
    main .home{
        background-color: rgb(92, 92, 92);
        width: 100vw;
        height: calc(100vh - 150px);
        margin: auto;

    }
}
/*  VERSION DESKTOP  */
@media screen and (min-width: 769px) and (max-width: 1200px) {

    header .container{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    i#burguer {
        display: none;
    }
    nav {
        display: inline-block;

    }
    nav > ul > li {
        display: inline-block;
    }
    nav h1{
        width: 0px;
    }
    main {
        background-color: rgb(0, 4, 255);        
    }
    main .home{
        background-color: rgb(92, 92, 92);
        width: 100vw;
        margin: auto;
    }
}
/*  VERSION TV`s  */
@media screen and (min-width: 1201px) and (max-width: 5000px) {

    header .container{
        width: 100vw;
    }
    i#burguer {
        display: none;
    }
    nav {
        background-color: yellow;
        display: block;
    }
    nav > ul > li {
        display: inline-block;
    }
    main {
        width: 100vw;
    }
    main .home{
        width: 1200px;
        height: calc(100vh - 151px);
    }
}