@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

/*  VERSION DESKTOP  */
@media screen and (min-width: 769px) and (max-width: 1279px) {
/*  ----------  SESSÃO HEADER  ----------  */    
    header .container{
        width: 90vw;
        padding: 0px 0px;
    }
    header .container #burguer {
        display: none;
    }
    header .container #fechar{
        display: none;
    }
    nav ul li {
        display: inline;
    }
    nav ul li a{
        display: inline-block;
        align-items: center; 
        padding: 0px 0px 0px 10px;
        font-size: 1em;
        color: rgb(255, 255, 255);
    }
    
/*  ----------  SESSÃO HOME  ----------  */

}
