@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

/*  VERSION DESKTOP  */
@media screen and (min-width: 769px) and (max-width: 1279px) {
/*  ----------  SESSÃO HEADER  ----------  */    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    /*
        background-color: var(--cor5);
        color: var(--cor0);
        border-bottom: 4px solid var(--cor1);
    */
        position: fixed;
        width: 100vw;
        top: 0;
        right: 0;
        z-index: 1000;
        
        background: transparent;
        padding: 22px 12%;
        border-bottom: 1px solid transparent;
        transition: all .45s ease;
    }
    header .container nav ul {
        display: flex;
    }
    header .container nav ul li a {
        justify-content: space-between;
        align-items: right;
        margin: 10px;
        color: var(--cor1);    
        transition: all .45s ease;
    }
    header .container nav li a:hover {    
        color: var(--cor0);    
    }
    header .container nav li a.ativo {    
        color: var(--cor0);    
    }    
    header .container #burguer {
        display: none;
    }
    header .container #fechar{
        display: none;
    }



/*  ----------  SESSÃO HOME  ----------  */

}
section{
    padding: 160px 15% 120px;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/imagem-home.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}