@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
/*  VARIÁVEIS DE CSS3  */

:root {
    --cor0: #ffffff;
    --cor1: #BF7F30;
    --cor2: #C68F2F;
    --cor3: #777777;
    --cor4: #1b1a20;
    --cor5: #000000;

    --fonte-padrao: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fonte-destaque:
}
html, body {
    background-color: var(--cor5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--cor4);
    margin: auto;
}

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px


/*  VERSION TELAS GRANDES  */
@media screen and (min-width: 1367px){

/*----------  HEADER SECTION  ----------*/    
    header{
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        padding: 22px 15%;
        border-bottom: 1px solid transparent;
        transition: all .45s ease;
    }
    header section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    header section .logo h1{
        color: var(--cor0);
        font-size: 30px;
        font-weight: 100;
        line-height: 30px;
    }
    span{
        color: var(--cor2);
    }
    header section nav ul{
        display: flex;
    }
    header section nav ul li a {
        color: var(--cor2);
        font-size: 1.1em;
        font-weight: 500;
        margin: 0 10px;
        transition: all .45s ease;
    }
    header section nav ul li a:hover{
        color: var(--cor0);
    }
    header section nav ul li a.ativo{
        color: var(--cor0);
    }
    header section #burguer, #fechar{
        font-size: 35px;
        color: var(--cor0);
        z-index: 10001;
        cursor: pointer;
        margin-left: 25;
        display: none;
    } 
    header.sticky{
        background-color: var(--cor5);
        border-bottom: 2px solid var(--cor2);
        padding: 12px 15%;
    }




/*----------  HOME SECTION  ----------*/    
    main .home {
        display: flex;
        justify-content: space-between;
        padding: 0px 15% 0px;


                border: 2px solid greenyellow;    

    }
    .home{
        position: relative;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        /*
        background-image: url(../img/bg1.jpg);
        background-size: cover;
        background-position: center;
        */
    }
    .home-txt{
        display: block;
        padding: 0px;
    }
    .home-txt h1{
        font-size: 5em;
        font-weight: 700;
        color: var(--cor0);
        line-height: 1.1;
        margin: 0 0 0px;
    }
    .home-txt p{
        font-size: 2em;
        font-weight: 100;
        color: var(--cor0);
        line-height: 1.1;
        margin: 0 0 18px;
        padding: 0px 0px;
    }
    .home-txt .btn1 {
        margin: 50px 0 0 0;
    }
    .home-txt .btn1 a{
        display: inline-block;
        justify-content: center;
        align-items: center;
        color: var(--cor0);
        background-color: var(--cor2);
        border: 2px solid rgb(255, 255, 255);
        margin: 10px 10px 10px 10px;
        padding: 10px 40px 10px 40px;
        font-size: 1.5em;
        border-radius: 10px;
        font-weight: 600;
        transition: all .45s ease;
    }
    .home-txt .btn1 a:hover{
        color: var(--cor4);
        border: 2px solid var(--cor5);
        transform: scale(0.9);
    }
    .home-txt .icons{
       display: flex;
       margin: 50px 0 0 0;
    }
    .home-txt .icons a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 55px;
        font-size: 35px;
        border-radius: 50%;
        color: var(--cor0);
        margin-right: 15px;
        background-color: var(--cor2);
        transition:  all .45s ease;
    }
    .home-txt .icons a:hover{
        color: var(--cor4);
        transform: scale(1.1) translateY(5px);
    }


}



