@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}
/*  VARIÁVEIS DE CSS3  */
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fonte-destaque:
    --fonte-android: 
}





html, body {
    background-color: brown;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;

}

header nav ul li a{
    display: inline-block;
    text-decoration: none;    
}