@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/*  VARIÁVEIS DE CSS3  */
:root { 
    --cor0: #ffffff;
    --cor1: #BF7F30;
    --cor2: #ffb73b;
    --cor3: #777777;
    --cor4: #1b1a20;
    --cor5: #000000;

    --fonte-padrao: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fonte-destaque: Arial;
    
    --fonte-tam-xxgrande: 3em; 
    --fonte-tam-xgrande: 2em; 
    --fonte-tam-grande: 1.5em; 
    --fonte-tam-normal: 1em; 
    --fonte-tam-pequena: .8em; 
    --fonte-tam-xpequena: .5em; 

}
html, body {
    background-color: var(--cor5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--cor4);
    margin: auto;
}
h2, h3{
    color: var(--cor2);
    font-weight: 200;
}
p{
    color: var(--cor0);
}

@media screen and (max-width: 768px){    
/*  ----------  SESSÃO HEADER  ----------  */
    header{
        padding-top: 15px;
    }
    .logo {
        display: flex;
        align-items: center;
        width: auto;
        margin: 0 0%;
    }
    .logo a h1{        
        font-size: var(--fonte-tam-normal);
        font-weight: 700;
        line-height: 15px;
        color: var(--cor0);
    }
    .logo span{
        color: var(--cor2);
    }
    nav{
        height: 75px;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5%;
        position: fixed;
        background-color: var(--cor5);
        z-index: 1000;

        border-bottom: var(--cor2) solid 3px;

    }
    .nav-list{
        position: fixed;
        width: 50%;
        height: 0vh;
        top: 75px;
        margin: 0 0 0 50% ;
        background-color: #00000096;
        text-align: center;
        transition: all .5s;
        box-shadow: #ffb73b7c -5px 5px 10px -5px;

    }
    .nav-list li{
        opacity: 0; 
        line-height: 30px;
        margin: 0px 0px;
        padding: 50px 19% 0 0;
        text-align: right;
        border-bottom: var(--cor2) solid 0px;
        transition: all .5s;
        
    }
    .nav-list li a {
        color: var(--cor2);
        font-size: var(--fonte-tam-normal);
        text-transform: uppercase;
    }
    .nav-list li a.ativo, .nav-list li a:hover{
        color: var(--cor0);
        transition: all .5s ease;
    }
    .hamburguer-btn{
        display: block;
        font-size: 30px;
        color: var(--cor2);
        float: right;
        line-height: 75px;
        cursor: pointer;
    }
    #check{
        display: none;
    }
    #check:checked ~ .nav-list {
        height: 100VH;
    }
    #check:checked ~ .nav-list li{
        opacity: 1;
    }
    header .aviso{
        margin-top: 60px;
        background: red;
        width: 100vw;
        text-align: center;
        font-size: var(--fonte-tam-pequena);
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: #00000094 2px 3px 3px;

    }

/*  *************  SECTION HOME  ****************  */
    main {
        margin-top: 0px;
        margin: auto ;
    }
    main .home{
        display: block;
        height: 600px;
        padding: 10% 0 0 0; 
    }
    .home-img{ background: rgb(75, 75, 75);
        background-image: url(/img/imagem-home.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 35%;
        margin: 0 0 0 0;
        padding: 0px 0;
    }
    .home-img img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 80%;
    }
    main .home .home-txt{      
        margin: auto;  
        padding: 0 10% 0px  10%;
        text-align: center;
        display:block;
        color: var(--cor0);
    }
    main .home-txt h1{
        margin: 20px 0 20px 0;
        padding: 0px 0;
        font-size: var(--fonte-tam-xgrande);
        font-weight: 500;
        line-height: 37px;
    }
    main .home-txt span{
        color: var(--cor2);
    }
    main .home-txt p{
        font-size: var(--fonte-tam-normal);
        line-height: 25px;
        margin: 0 0 20px 0;
        padding: 0 0 0 0;
    }
    .home-txt .btn1{
        border: none;
        margin: 30px 0px ;
    }
    .home-txt .btn1 a{
        background: var(--cor2);
        padding: 5px 40px;
        font-size: var(--fonte-tam-grande);
        color: var(--cor5);
        border: var(--cor0) solid 2px;
        border-radius: 5px;
    }
    .home-txt .btn1 a:hover{
        background: var(--cor1);
        color: var(--cor0);
    }
    .home-txt .icons button {
        display: inline;
        justify-content: center;
        align-items: center;
        background: var(--cor4);
        border: none;
        padding: 1%;
        border-radius: 50%;
        cursor: pointer;
    }   
    .home-txt .icons button a {
        background: var(--cor5);
        border: var(--cor0) solid 1px;
        border-radius: 50%;
        padding: 22px 10px 10px 10px;
    } 
    .home-txt .icons button a i{        
        display: inline;
        justify-content: center;
        align-items: center;        
        color: var(--cor2);
        font-size: 30px;
        border-radius: 50%;             
    }

/*  ----------  SECTION SOBRE  ----------  */
    main .sobre{background: red;
        
        width: 100vw;
        height: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0px 0 0 0;
        padding: 95px 0 0 0;
        text-align: center;
    }
    main .sobre .titulo {
        text-align: center;
    }
    .sobre .img-henrique{
        width: 50%;
        margin-bottom: 0px;
        margin: auto;
        padding: 0px;
    }
    .sobre .sobre-txt {
        text-align: center;
        padding: 0% 10%;
    }
    .sobre .sobre-txt h2 {
        margin: 20px 0;
    }
    .sobre .sobre-txt h3 {
        margin: 20px 0 0 0;
    }
    .sobre .sobre-txt p {
        color: var(--cor0);
        text-align: justify;
        margin: 0 0 20px 0;
        line-height: 25px;
    }    
    main .btn2 button {
        margin: 20px 0 50px 0px;
        padding: 5px 40px;
        color: var(--cor5);
        background-color: var(--cor2);
        border-radius: 5px;
        border: var(--cor0) solid 1px;
    }
    main .btn2 button a{
        color: var(--cor5);
        font-size: var(--fonte-tam-grande);
    }

/*  ----------  SECTION SOLUÇÕES  ----------  */
    main .solucoes{
        width: 100vw;
        height: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        padding: 95px 0px;
        text-align: center;
    }
    main .solucoes .cards {

        padding: 20px 0px 20px 0px;
        text-align: justify;
    }
    main .solucoes .cards .card{
        display: block;
        text-align: center;
        max-width: 70vw;
        margin: 15px 15%;
        padding: 25px 15px;
        background: #0000007d;
        border-radius: 10px;
        border: var(--cor5) solid 2px;
    }
    main .solucoes .cards .card:hover{
        border: var(--cor2) solid 2px;
        background-color: #000000;
        transform: scale(1.1);
        transition: all .45s ease;

        box-shadow: #00000072 5px 5px 5px 5px;
    }
    main .solucoes .cards .card img {
        width: 20%;    
    }
    main .solucoes .cards .card p {
        text-align: justify;
        margin: 10px;
        padding: 10px;
    }
    main .solucoes .cards .card a{
        color: var(--cor2);
        padding: 10px;
    }

/*  ----------  SECTION ESPECIALIDADES  ----------  */
    main .skills{

        width: 100vw;
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 0;
        padding: 95px 25px;
        background: var(--cor5);
    }
    main .skills .titulo{
        text-align: center;
        margin-bottom: 50px;
    }
    main .skills h2{
        text-align: center;
    }

    main .skills .skills-left{
        margin: 50px 7%;
        padding: 0 0 25px 0 ;
        font-size: var(--fonte-tam-normal);
        margin-bottom: 0px;
    }
    main .skills .skills-left P{
        margin-top: 20px;
        text-align: justify;
    }
    main .skills .skills-left a {
        display: none;
        background: var(--cor2);
        color: var(--cor5);
        font-size: 20px;
        font-weight: 500;
        padding: 10px 30px;
        margin: 50px 0 25px 0;
        border-radius: 6px;
        border: var(--cor0) solid 1px;
        transition: all .3s ease;
    }
    main .skills .skills-left a:hover{
        background : none;
        color: var(--cor0);
    }
    main .skills .skills-right{
        margin: 50px 7% 50px 7%;
    }
    main .skills .skills-right .bars{
        margin-bottom: 10px;
    }
    main .skills .skills-right .info{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    main .skills .skills-right span{
        font-weight: 500;
        font-size: var(--fonte-tam-normal);
        color: var(--cor0);
    }
    main .skills .skills-right .line{
        width: 100%;
        height: 3px;
        background: var(--cor3);
        position: relative;
    }
    main .skills .skills-right .line::before{
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--cor2);
    }
    main .skills .skills-right .html::before{
        width: 83%;
    }
    main .skills .skills-right .css::before{
        width: 77%;
    }
    main .skills .skills-right .js::before{
        width: 31%;
    }
    main .skills .skills-right .php::before{
        width: 36%;
    }
    main .skills .skills-right .mysql::before{
        width: 29%;
    }
    .btn4{
        display: flex;
        margin: auto;
    }
    .btn4 a{
        background: var(--cor2);
        padding: 5px 40px;
        font-size: var(--fonte-tam-grande);
        color: var(--cor5);
        border: var(--cor0) solid 2px;
        border-radius: 5px;
        margin: auto;
    }
    .btn4 a:hover{
        background: var(--cor1);
        color: var(--cor0);
    }


/*  ----------  SECTION PORTIFOLIO  ----------  */
    main .portifolio{
        width: 100vw;
        height: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        padding: 95px 7% 0px 7%;
    }
    main .portifolio h2{
        text-align: center;
    }
    main .portifolio .cards{ 
        margin: 15px 0 0 0;
        padding: 10px;
    }
    main .portifolio .cards .card{
        display: block;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 15px 15%;
        padding: 30px 0 30px 0 ;
        height: 40%;
        background: #0000007d;
        border-radius: 10px;
        transition: all .3s ease;
        border: var(--cor5) solid 2px;
        text-align: center;
    }
    main .portifolio .cards .card img{
        width: 50%;
        padding: 10px 10px;
    }
    main .portifolio .cards .card h3{
        padding: 0px 10px;
    }
    main .portifolio .cards .card p{
        padding: 15px 20%;
    }
    main .portifolio .cards .card a{
        padding: 30px 10px;
        color: var(--cor2);
    }
    main .portifolio .cards .card:hover{
        background: var(--cor5);
        border: var(--cor2) solid 2px;
        background-color: #000000;
        box-shadow: #00000072 5px 5px 5px 5px;
        transition: all .45s ease;
        transform: scale(1.1);
    }


/*  ----------  SECTION CONTATOS  ----------  */
    main .contatos{
        width: 100vw;
        height:1200px;
        margin: 0 0;
        padding: 95px 7%;
        text-align: center;
    }
    main .contatos .contact-left{
        margin: 20px 7%;
    }
    main .contatos .contact-left p{
        text-align: justify;
        margin: 0px 0px 0 0;
    }
    main .contatos .contact-data{
        text-align: justify;
        margin: 20px 0;
    }
    main .contatos .contact-icons {background: red;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    main .contatos .contact-icons a{
        display: inline-block;
        justify-content: space-between;
        align-items: center;
        width: 40px;
        height: 40px;
        margin: 0px 0px 0px 0px;
        padding: 8px;        
        color: var(--cor5);
        background: var(--cor2);
        border: var(--cor0) solid 2px;
        border-radius: 50%;
        box-shadow: #ffee0231 0px 5px 5px;
    }
    main .contatos .contact-icons a i{
        font-size: var(--fonte-tam-normal);
    }
    main .contatos .contact-form{
        position: relative;
    }
    main .contatos .contact-form form input, form textarea{
        width: 100%;
        padding: 15px;
        background: var(--cor5);
        color: var(--cor0);
        border: none;
        outline: none;
        font-size: 15px;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    main .contatos .contact-form textarea {
        resize: none;
        height: 140px;
    }
    main .contatos .contact-form .submit {
        display: inline-block;
        font-size: 16px;
        background: var(--cor2);
        color: var(--cor4);
        transition: all .45s ease;
    }
    main .contatos .contact-form .submit:hover {
        transform: scale(1.01);
        cursor: pointer;
    }


/*  ----------  SECTION FOOTER  ----------  */
    footer{
        width: 100vw;
        height: 300px;
        display: block;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 50px 7%;
        background-color: var(--cor5);
        color: var(--cor0);
        border-top: var(--cor2) solid 2px;

    }
    footer .icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0 25px 0;
        padding: 0 0;
    }
    footer .icons a{
        font-size: var(--fonte-tam-xgrande);
        color: var(--cor0);
    }
    footer .footer-txt p{
        margin: 0px;
        text-align: center;
        font-size: var(--fonte-tam-pequena);
    }
    footer .top{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: 10%;
        margin: auto;
        margin-top: 50px;
        padding: 24px 24px;
        color: var(--cor5);
        background: var(--cor2);
        border:var(--cor0) solid 2px;
        border-radius: 5px;
    }
    footer .top a{
        color: var(--cor5);
        font-size: 30px;
        font-weight: 700;
    }
    
}